/*margin + padding order: top right bottom left*/

body {
    background-color: var(--background);
    color: var(--text);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 5fr 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    margin: 0;
    width: 100%;
    height: 100%;
}

header {
    background: #FF0000;
    grid-area: header;
}

header .title {
    color: var(--text);
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

main {
    background: #00FF00;
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "input output";
}

footer {
    background: #0000FF;
    grid-area: footer;
}

/*root elements based on theme preference*/
@media (prefers-color-scheme: light) {
    :root {
        --text: #16090a;
        --background: #fbf4f4;
        --primary: #5e2b30;
        --secondary: #dd7881;
        --accent: #46914e;

    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #f6e9ea;
        --background: #0a0404;
        --primary: #d4a2a6;
        --secondary: #86212a;
        --accent: #6fb978;
    }
}

:root {
    --linearPrimarySecondary: linear-gradient(#d4a1a6, #87222a);
    --linearPrimaryAccent: linear-gradient(#d4a1a6, #6eb976);
    --linearSecondaryAccent: linear-gradient(#87222a, #6eb976);
    --radialPrimarySecondary: radial-gradient(#d4a1a6, #87222a);
    --radialPrimaryAccent: radial-gradient(#d4a1a6, #6eb976);
    --radialSecondaryAccent: radial-gradient(#87222a, #6eb976);

}